<footer>
  <style>
    *{ margin: 0; padding: 0; box-sizing: border-box; } footer{
    background-color: #21450f; color: #fff; padding: 20px; text-align: center;
    position: fixed; bottom: 0; width: 100%; z-index: 20;}
  </style>
  <div style="  max-width: 960px; margin: 0 auto;">
    left right navigator
  </div>
</footer>