<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/jungle.css" />
  </head>
  <body>
    {{>header}}
    <section id="container"> 
       <h2>indian Premire laauge</h2>
       <p>India ka Tyohar</p>
       <main class="card-container"> 
         <div class="card"> 
          <img src="/im/" alt="image" class="card-img">
          <h3>IPL</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, neque?</p>
          <button class="btn">Know More</button>
         </div>
       </main>
    </section>
    
    {{>footer}}
  </body>
</html>